In [4]:
a =["bitty","shatto","alvi"]
print(a[1])

shatto

In [6]:
a =["bitty","shatto","alvi"]
a.append("bind")
print(a)

['bitty', 'shatto', 'alvi', 'bind']

In [8]:
a[1:4]

['shatto', 'alvi', 'bind']

In [9]:
a =["bitty","shatto","alvi"]
a.insert(1,"rain")
print(a)

['bitty', 'rain', 'shatto', 'alvi']

In [10]:
a =["bitty","shatto","alvi"]
a.insert(1,"rain")
a.insert(2,"amee")
print(a)

['bitty', 'rain', 'amee', 'shatto', 'alvi']

In [13]:
b = ["apple", "banana", "cherry"]
tropical = ["mango", "pineapple", "papaya"]
b.extend(tropical)
print(b)

['apple', 'banana', 'cherry', 'mango', 'pineapple', 'papaya']

In [15]:
c=['a','b','c','d',1,2,3]
len(c)

7

In [21]:
a =["bitty","shatto","alvi"]
a.clear()
print(a)

[]

In [18]:
a =["bitty","shatto","alvi"]
a.pop()
print(a)

['bitty', 'shatto']

In [22]:
list = ["apple", "banana", "cherry"]
for x in list:
  print(x)

apple
banana
cherry

In [25]:
list = ["apple", "banana", "cherry"]
for i in range(len(list)):
  print(list[i])

apple
banana
cherry

In [26]:
list = ["apple", "banana", "cherry"]
i = 0
while i < len(list):
  print(list[i])
  i = i + 1

apple
banana
cherry

In [27]:
list=["apple","banana","grape"]
i=0
while i < len(list):
    print(list[i])
    i=i+1

apple
banana
grape

In [28]:
list=["apple","banana","grape"]
[print(x) for x in list]

apple
banana
grape

[None, None, None]

In [29]:
thislist = ["apple", "banana", "cherry"]
[print(x) for x in thislist]

apple
banana
cherry

[None, None, None]

In [30]:
fruits = ["apple", "banana", "cherry", "kiwi", "mango"]
newlist = []

for x in fruits:
  if "a" in x:
    newlist.append(x)

print(newlist)

['apple', 'banana', 'mango']

In [31]:
fruits = ["apple", "banana", "cherry", "kiwi", "mango"]

newlist = [x for x in fruits if "a" in x]

print(newlist)

['apple', 'banana', 'mango']

In [34]:
a = ["orange", "mango", "kiwi", "pineapple", "banana"]
a.sort()
print(a)

['banana', 'kiwi', 'mango', 'orange', 'pineapple']

In [36]:
a = ["Orange", "mango", "kiwi", "Pineapple", "banana"]
a.sort(reverse=True)
print(a)

['mango', 'kiwi', 'banana', 'Pineapple', 'Orange']

In [40]:
def my_function():
  print("Hello bit")

my_function()

Hello bit

In [41]:
def my_function(fname, lname):
  print(fname + " " + lname)

my_function("Emil", "Refsnes")
my_function("bitty", "shatto")

Emil Refsnes
bitty shatto

In [44]:
def my_function(*kids):
  print("The youngest child is " + kids[2])

my_function("Emil", "Tobias", "Linus")

The youngest child is Linus

In [46]:
def my_function(child3, child2, child1):
  print("The youngest child is " + child2)

my_function(child1 = "Emil", child2 = "Tobias", child3 = "Linus")

The youngest child is Tobias

In [47]:
def my_function(**kid):
  print("His last name is " + kid["lname"])

my_function(fname = "Tobias", lname = "Refsnes")

His last name is Refsnes

In [50]:
def my_function(country = "India"):
  print("I am from " + country)

my_function("Italy")
my_function("Norway")
my_function()
my_function("Brazil")

I am from Italy
I am from Norway
I am from India
I am from Brazil

In [52]:
def function(food):
  for x in food:
    print(x)

fruits = ["grapes", "banana", "strawberry"]

function(fruits)

grapes
banana
strawberry

In [1]:
class Person:
  def __init__(self, fname, lname):
    self.firstname = fname
    self.lastname = lname

  def printname(self):
    print(self.firstname, self.lastname)

#Use the Person class to create an object, and then execute the printname method:

x = Person("Bitty", "Shatto")
x.printname()

Bitty Shatto

In [5]:
class Student(Person):
  def __init__(self, fname, lname, year):
    super().__init__(fname, lname)
    self.graduationyear = year

x = Student("Bitty", "Shatto", 2019)

In [7]:
mystr = "banana"
myit = iter(mystr)

print(next(myit))
print(next(myit))
print(next(myit))
print(next(myit))
print(next(myit))
print(next(myit))

b
a
n
a
n
a

In [8]:
mytuple = ("apple", "banana", "cherry")

for x in mytuple:
  print(x)

apple
banana
cherry

In [9]:
x = "Hello World!"

print(len(x))

12

In [10]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}

print(len(thisdict))

3

In [11]:
class Car:
  def __init__(self, brand, model):
    self.brand = brand
    self.model = model

  def move(self):
    print("Drive!")

class Boat:
  def __init__(self, brand, model):
    self.brand = brand
    self.model = model

  def move(self):
    print("Sail!")

class Plane:
  def __init__(self, brand, model):
    self.brand = brand
    self.model = model

  def move(self):
    print("Fly!")

car1 = Car("Ford", "Mustang")       
boat1 = Boat("Ibiza", "Touring 20") 
plane1 = Plane("Boeing", "747")     

for x in (car1, boat1, plane1):
  x.move()

Drive!
Sail!
Fly!

In [12]:
class Vehicle:
  def __init__(self, brand, model):
    self.brand = brand
    self.model = model

  def move(self):
    print("Move!")

class Car(Vehicle):
  pass

class Boat(Vehicle):
  def move(self):
    print("Sail!")

class Plane(Vehicle):
  def move(self):
    print("Fly!")

car1 = Car("Ford", "Mustang") 
boat1 = Boat("Ibiza", "Touring 20") 
plane1 = Plane("Boeing", "747") 

for x in (car1, boat1, plane1):
  print(x.brand)
  print(x.model)
  x.move()

Ford
Mustang
Move!
Ibiza
Touring 20
Sail!
Boeing
747
Fly!